
<div class="breadcrumb-area text-center shadow dark text-light bg-cover"
  style="background-image: url('/assets/aboutUsAll/bgpage/Our PARTNERS.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="display-2 text-uppercase text-black">Our Clients</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li><a href="#" class="text-black"> About Us </a></li>
            <li class="active text-black">Our Clients</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="position-relative pt-5 pb-lg-5">
  <div class="container pt-lg-5">
    <div class="row partners-logos ">
      <div class="col-md-3 mb-4 ">
        <div class="shadow-md rounded-7 border-block "><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/aia.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/air-liquide.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/utac.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/atos.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/aws.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/bmc.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/bnp-paribas.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/bp.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/bpi.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/caib.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/cargill.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/chubb.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/cimb-bank.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/citi.jpg"></div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/lumedx.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/maybank.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/msig.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/nice.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/nike.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/nuance.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/oracle.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/panasonic.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/rhb.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/sicpa.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/silverlake.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/sinarmas.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/singapore-post.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/singtel.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/standard-chartered.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/statschippac.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/swift.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="https://nityo.com//assets/front/img/client-logos/uob.jpg"></div>
      </div>
      <!-- Shape -->
      <div class="shape-left-top" style="background-image: url('https://nityo.com//assets/front/img/shape/1.png');">&nbsp;
      </div>
      <div class="shape-right-down"
      style="background-image: url('https://nityo.com//assets/front/img/shape/1-bottom.png');">&nbsp;</div>
      <!-- End Shape -->
    </div>
  </div>
</div>
