
<div class="breadcrumb-area text-center shadow dark text-light bg-cover"
  style="background-image: url('/assets/aboutUsAll/bgpage/Our PARTNERS.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="display-2 text-uppercase text-black">Our Clients</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li><a href="#" class="text-black"> About Us </a></li>
            <li class="active text-black">Our Clients</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="position-relative pt-5 pb-lg-5">
  <div class="container pt-lg-5">
    <div class="row partners-logos ">

      <div class="col-md-3 mb-4 ">
        <div class="shadow-md rounded-7 border-block "><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/Accenture.png"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/aia.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/amda.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/aws.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/bmc.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/caib.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/Capgemini.png"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/cimb-bank.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/citi.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/dbs.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/Dell_Logo.png"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/dhl.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/Google.png"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/IBM_logo.png"></div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/infosys.png"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/kotak.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/Microsoft_Azure.png"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/nike.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/oracle.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/panasonic.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/singapore-post.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/standard-chartered.jpg"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/tcs.png"></div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow-md rounded-7 border-block"><img class="img-fluid"
            src="/assets/aboutUsAll/Clients logo/wipro.png"></div>
      </div>

      <!-- Shape -->
      <div class="shape-left-top" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">&nbsp;
      </div>
      <div class="shape-right-down"
      style="background-image: url('/assets/aboutUsAll/block-png/1-bottom.png');">&nbsp;</div>
      <!-- End Shape -->
    </div>
  </div>
</div>
