

.social-media a {
  font-size: 24px; /* Icon size */
  color: #333; /* Default icon color */
  margin-right: 15px;
  text-decoration: none;
}

.social-media a:hover {
  color: #0077b5; /* LinkedIn hover color */
}

.social-media a:nth-child(2):hover {
  color: #E1306C; /* Instagram hover color */
}

.social-media a:nth-child(3):hover {
  color: #1877F2; /* Facebook hover color */
}

.social-media a:nth-child(4):hover {
  color: #FF0000; /* YouTube hover color */
}
