
<app-navbar></app-navbar>

<!-- Main Header Container -->
<div class="header-container">
  <img src="/assets/Recruitment Fraud Alert/Recruitment Fraud Alert.jpg" alt="Header Image" class="header-image" />

  <!-- Centered Content -->
  <div class="header-content">
    <h1 class="fw-semibold">Recruitment Fraud Alert</h1>
    <!-- <p>Industries > Linux</p> -->
  </div>
</div>


<div class="position-relative pt-5 border">
  <div class="about-area pt-5 pb-md-110 pb-5 overflow-hidden">
  <div class="container mb-lg-5">
  <div class="pl-md-15 pl-xs-15 col-12">
  <h2 class="display-6 heading">Alert: Beware of Recruitment Fraud</h2>
  <p class="mb-0 fs-5 text-black text-justify lh-base">It has come to our notice that fraudulent actors are misusing our name,
     "OpenFuture," by sending job offers under the fake name <strong>"OpenFutures" (with a  'es')</strong>. These fraudsters are
      targeting candidates with technical job openings in India, including cities like Bangalore and Chennai.</p>
  <h4 class="mt-4">Here is how the scam operates:</h4>
  <ol class="number-list fs-6 text-black">
  <li>The fraudsters contact candidates, offering a technical job position.</li>
  <li>They send a letter of intent, claiming they want to hire the candidate.</li>
  <li>After an interview, they falsely claim the candidate's skills are insufficient
    and suggest taking a course.</li>
  <li>They then ask the candidate to pay for this course.</li>
  <li>Once the payment is made, the fraudsters disappear and block all contact.</li>
  </ol>
  <p class="fs-6 mt-4 text-black">Additionally, these fraudsters are using an email ID,<strong> hr&#64;Openfuturestechnologies.com</strong>, which is very similar to our official email addresses.</p>
  </div>
  </div>
  </div>
  <!-- Shape -->
  <div class="shape-left-top" style="background-image: url('https://nityo.com/assets/front/img/shape/1.png');">&nbsp;</div>
  </div>


  <div class="container whatsapp-banner mb-5" style="background-image: url('https://nityo.com/assets/front/img/jobs-banner-bg.png'); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; overflow: hidden; border-radius: 30px;">
    <div class="row">
    <div class="col-md-7 position-relative order-md-2">
    <div class="row align-items-center h-100">
    <div class="col-md-10 order-md-0 ps-5 pt-4">
    <h2 class="text-capitalize fw-semibold text-white mb-1">Discover <br>Limitless Career Posibilities <br>openFuture Technologies</h2>
    <a class="btn btn-light btn-sm my-3 fs-5" href="/job-openning" target="_blank" rel="noopener">Find out more</a></div>
    </div>
    </div>
    <div class="col-md-5 d-flex align-items-end"><img class="mobile-overflow" src="/assets/career inside images/jobs-banner-team.png"></div>
    </div>
    </div>

   <!-- third block whatspp -->

  <div class="container whatsapp-banner mb-5" style="background-image: url('https://nityo.com/assets/front/img/jobs-banner-bg.png'); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; overflow: hidden; border-radius: 30px;">
    <div class="row">
    <div class="col-md-7 position-relative order-md-2">
    <div class="row align-items-center h-100">
    <div class="col-md-10 order-md-0 ps-5 pt-4">
    <h2 class="text-capitalize fw-semibold text-white mb-1">Stay Connected And <br> Get Updates On Your Dream Job <br>Join OpenFuture WhatsApp Channel<br></h2>
    <a class="btn btn-light  btn-sm my-3 fs-5" href="https://wa.me/917219389550?text=Hello,%20I%20want%20to%20join!" target="_blank" rel="noopener">Join Now</a></div>
    </div>
    </div>
    <div class="col-md-5 d-flex align-items-end"><img class="mobile-overflow" src="/assets/career inside images/whatsapplink.png"></div>
    </div>
    </div>






