<!-- <div class="admjf my-5 py-5">
  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Name:</label>
      <input formControlName="name" type="text" />
    </div>
    <div>
      <label>Mobile No:</label>
      <input formControlName="mobileNo" type="text" />
    </div>
    <div>
      <label>Username:</label>
      <input formControlName="username" type="text" />
    </div>
    <div>
      <label>Password:</label>
      <input formControlName="password" type="password" />
    </div>
    <div>
      <label>Email:</label>
      <input formControlName="email" type="email" />
    </div>
    <div>
      <label>Profile Picture:</label>
      <input type="file" (change)="onFileSelected($event)" />
    </div>
    <button type="submit" class="btn btn-primary mt-4 mb-2">Save Admin</button>
  </form>
</div> -->


<div class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 position-relative aboutus-sec"><!-- <div class="container"> -->
        <div class="position-absolute w-100 mt-5 opacity-50"><img
            src="https://nityo.com/assets/front/img/about-us-icons/aboutus-bg.png" alt=""></div>
        <div class="row justify-content-end z-1ndex-2 position-relative">
          <div class="col-lg-12 pe-lg-5 py-5">
            <h5 class="text-white mb-0">WHO WE ARE</h5>
            <h1 class="text-white fw-bold display-4">ABOUT US</h1>
            <p class="text-white fs-3 lh-sm fw-light">  With a vision to transform business
              intelligence, Open Future is the fastest-growing global IT services & solutions company.
            </p>

            <!-- <p class="text-white lh-base fw-light">Our diverse portfolio and partnerships provide a unique selection of
              solutions such as digital transformation platforms, cloud and infrastructure transformation, AI/ML-based
              chatbots, data analytics, tech skill assessment platforms, and more.</p>
            <a class="btn btn-white mb-4 rounded-7 py-2 fs-5 text-theme" href="/about-us">Read more</a> -->
          </div>
        </div>
        <!-- </div> -->
      </div>
      <div class="col-lg-6 position-relative">
        <div class="h-100 d-flex align-items-center">
          <div class="row justify-content-start mt-lg-0 mt-4">
            <div class="col-6 position-relative mb-4 pe-0"><img
                src="https://nityo.com/assets/front/img/about-us-icons/slide-1.png" alt="">
              <div class="block-1 text-center">
                <div class="fun-fact">
                  <div class="counter text-center justify-content-center fw-bold text-white">
                    <div class="timer text-center fw-semibold ms-4 display-4" data-to="44" data-speed="1000">44</div>
                    <!-- <div class="operator">+</div> -->
                  </div>
                  <h5 class="mb-0 fw-medium text-white ms-4">COUNTRIES<br>WORLDWIDE</h5>
                </div>
              </div>
            </div>
            <div class="col-6 position-relative mb-4 ps-0"><img
                src="https://nityo.com/assets/front/img/about-us-icons/slide-2.png" alt="">
              <div class="block-1 text-center">
                <div class="fun-fact">
                  <div class="counter text-center justify-content-center fw-bold text-white">
                    <div class="timer text-center fw-semibold display-4" data-to="3000" data-speed="1000">3000</div>
                    <div class="operator">+</div>
                  </div>
                  <h5 class="mb-0 fw-medium text-white">CLIENTS<br>SERVED</h5>
                </div>
              </div>
            </div>
            <div class="col-6 position-relative mb-4 pe-0"><img
                src="https://nityo.com/assets/front/img/about-us-icons/slide-3.png" alt="">
              <div class="block-1 text-center">
                <div class="fun-fact">
                  <div class="counter text-center justify-content-center fw-bold text-white">
                    <div class="timer text-center fw-semibold display-4 ms-4" data-to="31000" data-speed="1000">31000
                    </div>
                    <div class="operator">+</div>
                  </div>
                  <h5 class="mb-0 fw-medium text-white ms-4">GLOBAL<br>WORKFORCE</h5>
                </div>
              </div>
            </div>
            <div class="col-6 position-relative mb-4 ps-0"><img
                src="https://nityo.com/assets/front/img/about-us-icons/slide-4.png" alt="">
              <div class="block-1 text-center">
                <div class="fun-fact">
                  <div class="counter text-center justify-content-center fw-bold text-white">
                    <div class="timer text-center fw-semibold display-4" data-to="50" data-speed="1000">50</div>
                    <div class="operator">+</div>
                  </div>
                  <h5 class="mb-0 fw-medium text-white">AWARDS<br>RECEIVED</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shape-left-top d-block w-100 h-100"
          style="background-image: url('https://nityo.com/assets/front/img/shape/about-slider-bg.png'); background-size: 115% auto;">
          &nbsp;</div>
      </div>
    </div>
  </div>
</div>
