<div class="breadcrumb-area text-center shadow dark text-light bg-cover"
  style="background-image: url('/assets/aboutUsAll/bgpage/About-Us.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="display-2 text-uppercase">ABOUT US</h1>
        <nav aria-label="breadcrumb">
          <!-- <ol class="breadcrumb">
            <li><a href="#" class="text-light"> About Us</a></li>
            <li class="active"></li>
          </ol> -->
        </nav>
      </div>
    </div>
  </div>
</div>


<div class="position-relative overflow-hidden py-5 bg-theme-light">
  <div class="container">
  <div class="row ">
  <div class="col-lg-10 mx-auto position-relative backdrop ">
  <p class="  mb-0 fs-5 text-black lh-base ">OpenFuture Technologies Private Limited is a progressive IT solutions provider
    committed to driving innovation across industries. Headquartered in India, our
    services encompass end-to-end software development, digital transformation, and
    custom IT solutions, tailored to meet the unique challenges of businesses.
  </p>
  </div>
  </div>
  </div>
  <div class="shape-left-top" style="background-image: url('/assets/aboutUsAll/block-png/electro.png'); width: 30%;">&nbsp;</div>
  </div>

<div class="about-block">
  <div class="container">

    <div class="row position-relative z-index-2 align-items-center">
      <div class="col-lg-6 ps-lg-4 py-lg-5 p-6">
        <div class="row">


          <!-- Block 1 -->
          <div class="col-md-6 col-12 mb-lg-4 mb-3 ">
            <div class="round-block block1 h-100 text-center p-3">
              <img src="/assets/aboutUsAll/block-png/location.png" alt="" class="icon">
              <h4 class="fw-light text-white mb-0">Located in<br><span class="fw-semibold">10</span><br>Countries</h4>
          </div>
        </div>

          <!-- Block 2 -->
          <div class="col-md-6 col-12 mb-lg-4 mb-3">
            <div class="round-block block2 h-100 text-center p-3">
              <img src="/assets/aboutUsAll/block-png/employee.png" alt="" class="icon">
              <h4 class="fw-light text-white mb-0">More than<br><span class="fw-semibold">1,000+</span><br>Global
                Employees</h4>
            </div>
          </div>

          <!-- Block 3 -->
          <div class="col-md-6 col-12 mb-lg-4 mb-3">
            <div class="round-block block3 h-100 text-center p-3">
              <img src="/assets/aboutUsAll/block-png/client-served.png" alt="" class="icon">
              <h4 class="fw-light text-white mb-0">Globally<br><span class="fw-semibold">1000+</span><br>Clients Served
              </h4>
            </div>
          </div>

          <!-- Block 4 -->
          <div class="col-md-6 col-12 mb-lg-4 mb-3">
            <div class="round-block  block4 h-100 text-center p-3">
              <img src="/assets/aboutUsAll/block-png/awards.png" alt="" class="icon">
              <h4 class="fw-light text-white mb-0">Received<br><span class="fw-semibold">50+</span><br>Awards</h4>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6 mt-3 pe-lg-4">
        <div class="position-relative pb-md-4"><img src="/assets/aboutUsAll/block-png/laptop-screen.png" alt="">
          <div class="video-area"><video  muted="" controls="controls" width="100%" height="auto">
            <!-- <source src="https://nityo.com/assets/front/videos/nityo18years.mp4" type="video/mp4"> -->
            <source src="/assets/openfuturevideo/VID-20241108-WA0001.mp4" type="video/mp4">
            Your browser does not support the video tag.</video></div>
          </div>
        </div>
      </div>
  </div>
</div>


<section class="info-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-start">
        <p class="fs-5 text-black lh-base z-index-2">
          Our expertise spans key sectors, including Finance, Healthcare, Retail, and
          E-commerce, where we deliver transformative outcomes through cutting-edge
          technology. From Data Science solutions to cloud computing and automation,
          OpenFuture leverages the latest advancements to empower organizations, enabling
          them to thrive in a rapidly evolving digital ecosystem.
        </p>
        <p class="fs-5 text-black lh-base z-index-2">
          Partnering with us ensures a seamless journey toward operational efficiency and
          future readiness, backed by a team of visionary developers, creative designers, and
          strategic thinkers dedicated to delivering high-quality solutions that drive measurable
          business growth and innovation.
        </p>

      </div>
    </div>
  </div>
</section>

<section class="mission-vision-section">
  <div class="container-fluid">
    <div class="row">
      <!-- Mission Column -->
      <div class="col-lg-6 col-md-12 mission-vision-card">
        <h1 class="text-white text-center my-4 display-5 fw-normal">Mission</h1>
        <p class="text-white fs-5 lh-base  text-start  px-md-4">
          At OpenFuture Technologies Private Limited, we empower clients with innovative,
          future-ready technology solutions that drive success and growth in a dynamic digital
          landscape. Committed to fostering collaboration and creativity, we tailor our solutions
          to exceed client expectations. With a dedication to excellence, we inspire
          transformation and deliver impactful results that position our clients at the forefront of
          their industries.
        </p>
      </div>
      <!-- Vision Column -->
      <div class="col-lg-6 col-md-12 mission-vision-card">
        <h1 class="text-white text-center my-4 display-5 fw-normal">Vision</h1>

        <p class="text-white fs-5 lh-base text-start px-md-4">
          At OpenFuture Technologies Private Limited, our vision is to be the leading partner
          for businesses looking to transform operations and achieve sustainable growth. We
          are dedicated to embracing industry innovation and empowering our team with the
          latest expertise to deliver cutting-edge solutions. We aim to exceed client
          expectations, elevating them to new heights of success in a rapidly evolving digital
          landscape.

        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-4 our-values">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-dark text-lg-center mb-lg-4  display-4 fw-bold">
          Our Values
        </h1>
      </div>


      <div class="row our-value-blocks row-cols-lg-4 row-cols-1">

        <div class="col ">
          <div class="border-right">
            <h3 class="fs-2 fw-semibold ">Consistency</h3>
            <p class="text-dark fw-medium p-2">
              At OpenFuture Technologies Private Limited, consistency is the cornerstone of
              everything we do. We are committed to delivering high standards of quality,
              performance, and integrity in every aspect of our operations. Our unwavering
              dedication ensures that we consistently fulfill our promises and remain a dependable
              partner for all stakeholders, every step of the way.
            </p>
          </div>
        </div>

        <div class="col ">
          <div class="border-right">
            <h3 class="fs-2 fw-semibold ">Reliability</h3>
            <p class="text-dark fw-medium p-2">
              Reliability is fundamental to building and sustaining trust. We recognize the
              importance of being a reliable partner in all our engagements. Our focus is on
              providing trustworthy solutions and services that our clients can depend on, ensuring
              seamless and dependable experiences throughout our collaborations.
            </p>
          </div>
        </div>

        <div class="col ">
          <div class="border-right">
            <h3 class="fs-2 fw-semibold ">Transparency</h3>
            <p class="text-dark fw-medium p-2">
              Transparency is at the heart of our business philosophy. We believe in fostering
              open, honest, and clear communication with all our stakeholders. Our commitment to
              transparency extends to every facet of our business practices, policies, values, and
              decision-making, allowing us to build lasting relationships based on trust and
              integrity.
            </p>
          </div>
        </div>

        <div class="col ">
          <div class="">
            <h3 class="fs-2 fw-semibold ">Expertise</h3>
            <p class="text-dark fw-medium p-2">
              Expertise defines who we are. At OpenFuture, we are committed to continuously
              developing and refining our skills and knowledge to remain at the cutting edge of the
              industry. Our deep expertise enables us to deliver innovative, exceptional solutions
              that drive impactful results for our clients and position them for long-term success
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>
