
 <app-navbar></app-navbar>
<div class="header-container">
    <img src="../../assets/Industries/Government&PublicSector.jpg" alt="Header Image" class="header-image" />
  
    <!-- Centered Content -->
    <div class="header-content">
        <h1>Government & Public Sector Solutions</h1>
        <p>Industries > Government & Public Sector</p>
    </div>
</div>

<div class="main-container">
    <!-- Right Side: Text Content -->
    <div class="right-side">
        <h1>Empowering Government & Public Sector with Innovative Solutions</h1>
        <p>
            At OpenFuture Technologies Private Limited, we are committed to transforming the
            Government and Public Sector through advanced technology solutions. Our mission
            is to enhance public service delivery, improve operational efficiency, and foster
            transparency and accountability in government operations.
        </p>
    </div>
</div>

<!-- Government Solutions Section -->
<div class="sap-offerings-container">
    <h2 class="sap-heading">Our Solutions for the Government & Public Sector</h2>
    <div class="sap-offerings-grid">
        <div class="sap-card" *ngFor="let item of governmentSolutions">
            <div class="number-square">{{ item.number }}</div>
            <h4>{{ item.title }}</h4>
            <div class="hover-text">{{ item.description }}</div>
        </div>
    </div>
</div>
