<!-- ! header code of  MEET OUR LEADERS ---------------------------------->

<div class="breadcrumb-area text-center shadow dark text-light bg-cover"
  style="background-image: url('/assets/aboutUsAll/bgpage/Code Of Conduct.jpg');">

  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="display-2 text-uppercase">code of conduct </h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li><a href="#" class="text-light"> About Us</a></li>
            <li class="active">Code of conduct</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>



<div class="position-relative pb-md-110 pb-xs-45 pt-5">
  <div class="container mb-lg-5 pt-md-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xxl-5 text-lg-end text-black">
        <h1 class="display-3 fw-semibold">Compliance with <br>the RBA Code of Conduct</h1>
        <p class="fs-4 lh-base text-black">OpenFuture Technologies Private Limited is fully committed to upholding the
          highest
          standards of environmental, social, and ethical responsibility in all our business
          practices. </p>
        <p class="fs-4 lh-base text-black ">We adhere to the RBA (Responsible Business Alliance) Code of Conduct,
          a globally recognized set of standards that address critical issues within the supply
          chain, including labor rights, health and safety, environmental sustainability, and
          business ethics.</p>
        <p class="fs-4 lh-base text-black">OpenFuture Technologies Private Limited expects the same minimum
          commitment from all our business partners and suppliers with the RBA code of conduct.</p>
      </div>
      <div class="col-lg-6 col-xxl-5">
        <div class="row">
          <div class="col-6 pe-0"><img class="img-fluid" src="/assets/aboutUsAll/Code of Conduct/01.jpg">
          </div>
          <div class="col-6 ps-0"><img class="img-fluid" src="/assets/aboutUsAll/Code of Conduct/02.jpg">
          </div>
          <div class="col-12"><img class="img-fluid" src="/assets/aboutUsAll/Code of Conduct/1update.jpg"></div>
        </div>
      </div>
    </div> 
  </div>
  <!-- Shape -->
  <div class="shape-left-top" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">
    &nbsp;</div>
  </div>
  <!-- End Shape -->

<!-- third bolck code of conduct -->

<div class="py-md-5">
  <div class="container yellow-offering">
    <div class="row justify-content-center">

      <div class="col-lg-3 col-md-6 mb-4 text-center">
        <div class="item bg-white shadow-md rounded-7 p-4">
          <div class="bg-shape-left" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">&nbsp;</div>
          <div class="bg-shape-right" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">&nbsp;</div>
          <div class="offering-numbers text-center">1</div>
          <h3 class="mb-4 mt-4 text-black">Consistency and Reliability of Experienced Resources</h3>
          <p class="content text-start overflowy">OpenFuture Technologies has dedicated consultants who provide consistency of service and internal training programs that maintain and replenish their skills and expertise.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 text-center">
        <div class="item bg-white shadow-md rounded-7 p-4">
          <div class="bg-shape-left" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">&nbsp;</div>
          <div class="bg-shape-right" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">&nbsp;</div>
          <div class="offering-numbers text-center">2</div>
          <h3 class="mb-4 mt-4 text-black">Domain and Technology Expertise</h3>
          <p class="content text-start overflowy">OpenFuture Technologies Services are delivered with speed and flexibility. In addition, expertise is guaranteed through extensive project experience.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 text-center">
        <div class="item bg-white shadow-md rounded-7 p-4">
          <div class="bg-shape-left" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">&nbsp;</div>
          <div class="bg-shape-right" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">&nbsp;</div>
          <div class="offering-numbers text-center">3</div>
          <h3 class="mb-4 mt-4 text-black">Significant Resource Pool</h3>
          <p class="content text-start overflowy">OpenFuture Technologies Services are delivered with speed and flexibility. In addition, expertise is guaranteed through extensive project experience.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 text-center">
        <div class="item bg-white shadow-md rounded-7 p-4">
          <div class="bg-shape-left" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">&nbsp;</div>
          <div class="bg-shape-right" style="background-image: url('/assets/aboutUsAll/block-png/electro.png');">&nbsp;</div>
          <div class="offering-numbers text-center">4</div>
          <h3 class="mb-4 mt-4 text-black">Global Footprint</h3>
          <p class="content text-start overflowy">OpenFuture Technologies Services are delivered with speed and flexibility. In addition, expertise is guaranteed through extensive project experience.</p>
        </div>
      </div>
    </div>
  </div>
</div>
