<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Business Automation Solutions
 
 
 
    </title>
 
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="header-content">
            <h1>Business Automation Solutions
 
 
            </h1>
           
        </div>
    </header>
     <!-- Image and Content Section -->
     <section class="content-section">
      <div class="content-container">
          <div class="content-image">
              <img src="../../assets/Solution page images/Business Automation Solutions.jpg" alt=" Business Automation Solutions
 
              " />
          </div>
          <div class="content-text">
            <h1>Business Automation Solutions
 
            </h1>
              <p>At OpenFuture Technology Solutions, we help businesses improve efficiency and productivity by
                automating routine and time-consuming processes. Our business automation solutions
                streamline workflows, reduce manual work, and enable more efficient resource management,
                allowing your team to focus on more strategic tasks that drive growth.
              </p>
          </div>
      </div>
  </section>
 
    <!-- Why Us Section -->
    <section class="why-us">
        <h2>Why Us?</h2>
        <div class="cards">
            <div class="card">
                <h3>Streamlined Operations</h3>
                <p>: Our automation solutions are designed to optimize business
                  processes, reducing manual effort and increasing operational efficiency.
                  </p>
            </div>
            <div class="card">
                <h3> Customized Workflows</h3>
                <p>We tailor automation solutions to your specific business
                  needs, ensuring seamless integration and alignment with your operations.
                 
                 
                </p>
            </div>
            <div class="card">
                <h3> Focus on Growth</h3>
                 
                <p> By automating routine tasks, we enable your team to focus on
                  strategic growth initiatives and innovation..
                 
                  </p>
            </div>
        </div>
    </section>
 
    <!-- Our Offerings Section -->
    <div class="sap-offerings-container">
      <h2 class="sap-heading">WE OFFERINGS</h2>
      <div class="sap-offerings-grid">
          <div class="sap-card" *ngFor="let item of sapOfferings">
              <div class="number-square">{{ item.number }}</div>
              <h4>{{ item.title }}</h4>
              <div class="info-icon"><span class="material-icons">chevron_right</span></div>
 
              <div class="hover-text">{{ item.description }}</div>
          </div>
      </div>
  </div>
 
</body>
</html>
 
