<div id="app">
  <div class="container-whole white-bg-color header-fixed" statictext="[object Object]">
    <header class="jobs-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-md">
        <div class="container">
          <a href="/" class="navbar-brand order-xl-1 order-2 me-md-3 me-0 py-0 router-link-exact-active router-link-active" >
            <img src="../../assets/OpenFuture_Name_Transparent_Logo.png" width="180" alt="logo" class="logo logo-display p-3" >
          </a>
          <button type="button" data-bs-toggle="collapse" data-bs-target="#topnavbar" aria-controls="topnavbar"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler order-1"><span
              class="navbar-toggler-icon"></span></button>
          <div id="topnavbar" class="collapse navbar-collapse order-md-2">
            <div class="d-block d-lg-none shape-left-top z-index-1"
              style="background-image: url(&quot;/img/tech-mesh-up-5.png&quot;); width: 90%;"></div>
            <div class="d-block d-lg-none shape-right-bottom z-index-1"
              style="background-image: url(&quot;/img/tech-mesh-down-5.png&quot;); width: 90%; opacity: 0.4;"></div>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#topnavbar" aria-controls="topnavbar"
              aria-expanded="false" aria-label="Toggle navigation" class="d-block d-lg-none menu-close-btn"><i
                class="bi bi-x display-4"></i></button> <a href="#"
              class="navbar-brand d-lg-none d-inline-block position-relative z-index-3 mt-5 router-link-exact-active router-link-active"><img
                src="../../assets/OpenFuture_Name_Transparent_Logo.png" alt="logo" width="200px"></a>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 position-relative z-index-3">

              <li class="nav-item fs-6 fw-bold"><a class="nav-link" href="/careers" style="cursor: pointer;"><i
                    class="bi bi-house d-inline-block d-lg-none me-2 "></i> HOME</a></li>

              <li class="nav-item">
                <a class="nav-link fs-6 fw-bold" style="cursor: pointer;" href="/job-openning">
                  <i class="bi bi-briefcase d-inline-block d-lg-none me-2">
                  </i>
                  JOB OPENINGS
                </a>
              </li>

            </ul>
            <div class="login-buttons order-3 px-3 position-relative z-index-3">
              <a href="/adminlogin" class="btn btn-dark btn-sm mx-lg-3 my-lg-0 my-2 mx-1">Admin Login</a>
              <a href="/adminregister"  class="btn btn-dark btn-sm my-lg-0 my-2 register-btn">Admin Register</a></div>
          </div>
        </div>
      </nav>
    </header>
