<div class="service-intro">
    <h2>Our Services</h2>
  </div>
   
  <div class="service-slider" *ngIf="isSliderVisible">
    <div class="service-list" [style.transform]="getTransform()">
      <div class="service-slide" *ngFor="let group of serviceGroups">
        <div class="service-card" *ngFor="let service of group">
          <div class="image-container">
            <img [src]="service.icon" alt="{{ service.title }}" />
            <div class="overlay">
              <p>{{ service.description }}</p>
            </div>
          </div>
          <div class="service-info">
            <h3>{{ service.title }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <div class="slider-dots">
    <span
      *ngFor="let group of serviceGroups; let i = index"
      [class.active]="i === currentSlide"
      (click)="goToSlide(i)"
    >
    </span>
  </div>
   