<div id="carouselExampleSlidesOnly" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-interval="5000"
  data-bs-pause="false">
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <div class="image-slide" style="background-image: url('assets/slides/8.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="content blackbg">
                <h2 class="text-white fs-1 fs-md-2 fs-sm-4 text-justify">
                  Transforming Your Ideas into Reality<br />
                  We're just A Message Away on<br />
                  WhatsApp
              </h2>
 
                <div class="button mt-3">
                  <button class="btn" type="button">
                    Join Now!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="carousel-item">
      <div class="image-slide" style="background-image: url('assets/slides/2.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="content blackbg">
                <h2 class="text-white fs-1 fs-md-2 fs-sm-4 text-justify">
                    Explore New Depths of <br/>
                    Innnovation with Confidence<br/>
                    Your Future Bussiness Growth
                    <br/>Awaits.
                </h2>
 
                <div class="button mt-3">
                  <button class="btn" type="button">
                    Let's Explore!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="carousel-item">
      <div class="image-slide" style="background-image: url('assets/slides/3.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="content blackbg">
                <h2>
                  <div class="text-white fs-1 fs-md-2 fs-sm-4 text-justify">
                    Anchor Your Project On Our trusted <br/>
                     IT Ship and Sail Toword Success </div>
                </h2>
 
                <div class="button mt-3">
                  <button class="btn " type="button">
                    Let's Explore
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="carousel-item">
      <div class="image-slide" style="background-image: url('assets/slides/4.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="content blackbg">
                <h2 class="text-white fs-1 fs-md-2 fs-sm-4 text-justify">
                     Climb Higher Achieve Business<br/>
                     Flexibility and Success!
                </h2>
 
                <div class="button mt-3">
                  <button class="btn " type="button">
                    Let's Talk!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
 
    <div class="carousel-item">
      <div class="image-slide" style="background-image: url('assets/slides/5.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="content blackbg">
                <h2
                   class="text-white fs-1 fs-md-2 fs-sm-4 text-justify">
                    Bridging Talents with Digital Opportunities!
                </h2>
 
                <div class="button mt-3">
                  <button class="btn " type="button">
                    Let's Connect!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
 
    <div class="carousel-item">
      <div class="image-slide" style="background-image: url('assets/slides/6.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="content blackbg">
                <h2 class="text-white fs-1 fs-md-2 fs-sm-4 text-justify">
                    Fly Higher Achive Business<br/>
                    Flexibility and Success!
                </h2>
 
                <div class="button mt-3">
                  <button class="btn " type="button">
                    Let's Explore
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
 
    <div class="carousel-item">
      <div class="image-slide" style="background-image: url('assets/slides/7.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="content blackbg">
                <h2 class="text-white fs-1 fs-md-2 fs-sm-4 text-justify">
                    We highlight your ideas with our <br/>
                    innovations to enhance your business<br/>
                    project Embrace the Future Today!
                </h2>
 
                <div class="button mt-3">
                  <button class="btn " type="button">
                    Let's Explore
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
 
    <div class="carousel-item">
      <div class="image-slide" style="background-image: url('assets/slides/1.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="content blackbg">
                <h2 class="text-white fs-1 fs-md-2 fs-sm-4 text-justify">
                    In Business, Precision Is a Key,<br/>
                    Hit Your Target Every Time.
                </h2>
                <!-- <p class="fs-3 fs-md-4 fs-sm-5 fw-normal text-white">
                  Unlock the hidden potential <br />
                  of your data to transform your business
                </p> -->
                <div class="button mt-3">
                  <button class="btn " type="button">
                    Let's Explore
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </div>
 
  <!-- Corrected buttons with correct id and Custom Previous Button with Arrow -->
  <button class="carousel-control-prev custom-arrow" type="button" data-bs-target="#carouselExampleSlidesOnly"
    data-bs-slide="prev">
    <span aria-hidden="true">←</span>
  </button>
  <button class="carousel-control-next custom-arrow" type="button" data-bs-target="#carouselExampleSlidesOnly"
    data-bs-slide="next">
    <span aria-hidden="true">→</span>
  </button>
</div>
 