<div class="outer">
  <div class="breadcrumb-area text-center shadow dark text-light bg-cover"
    style="background-image: url('/assets/aboutUsAll/bgpage/Our leadership team..jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-lg-auto">
          <h1 class="display-2 text-uppercase">Meet our leaders</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li><a href="#" class="text-light"> About Us</a></li>
              <li class="active">Meet our leaders </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="col-lg-10 mx-auto"><!-- Single Item -->
      <div class="row row-cols-lg-4 row-cols-2 justify-content-center py-4 my-4">

        <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#naveen-profile">
              <img class="img-fluid" src="/assets/Leading Icon.png" alt="..."></a>
            <!-- https://nityo.com https://nityo.com/assets/front/img/naveen-kumar.jpg -->
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Nikhileshwar Kshirsagar</h4>
              <h6 class="fw-medium mb-2">Founder and CEO</h6>
            </div>
          </div>
        </div>
        <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#vivek-chadha">
              <img class="img-fluid" src="/assets/Leading Icon.png" alt="..."></a>

            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Ketan Shevatkar</h4>
              <h6 class="fw-medium mb-1">Chief Director (Operations)</h6>
            </div>
          </div>
        </div>


        <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#akash-tiwari">
            <img class="img-fluid" src="/assets/Leading Icon.png" alt="..."></a>
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1"> Amol shevane</h4>
              <h6 class="fw-medium mb-1">Executive director</h6>
            </div>
          </div>
        </div>

        <div class="col px-lg-3 mt-5">
          <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#david-lum">
              <img class="img-fluid" src="/assets/Leading Icon.png" alt="..."></a>
            <div class="card-body text-center p-2">
              <h4 class="fw-semibold mb-1">Swapnil Tali</h4>
              <h6 class="fw-medium mb-1">Project Manager</h6>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
