h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Poppins', sans-serif;
}

/* ! Start Header style   */

.breadcrumb-area {
  padding: 160px 0;
  /* Space above and below */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.breadcrumb-area h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.breadcrumb-area nav {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
}

.breadcrumb-area nav .breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumb-area nav .breadcrumb li {
  display: inline;
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumb-area nav .breadcrumb li.active {
  color: #fff;
}

.breadcrumb-area nav .breadcrumb li::after {
  content: ">";
  color: rgba(255, 255, 255, 0.8);
  padding: 0 8px;
}

.breadcrumb-area nav .breadcrumb li:last-child::after {
  content: "";
}

@media (max-width: 768px) {
  .breadcrumb-area {
    padding: 60px 0;
  }

  .breadcrumb-area h1 {
    font-size: 2rem;
  }

  .breadcrumb-area nav {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .breadcrumb-area {
    padding: 130px 0;
  }

  .breadcrumb-area h1 {
    font-size: 2.5rem;
  }

  .breadcrumb-area nav {
    font-size: 0.9rem;
  }
}

/* ! End Header style   */



.team-block {
  background-color: var(--bs-white);
  text-align: center;
  border-radius: .5rem;
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
.shadow-md {
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .15) !important;
}

.outer
{
background-color: #eff3fb;
}
