<div class="outer">
<div class="breadcrumb-area text-center shadow dark text-light bg-cover"
  style="background-image: url('/assets/aboutUsAll/bgpage/Our leadership team..jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="display-2 text-uppercase">Meet our leaders</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li><a href="#" class="text-light"> About Us</a></li>
            <li class="active">Meet our leaders </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="col-lg-10 mx-auto"><!-- Single Item -->
    <div class="row row-cols-lg-4 row-cols-2 justify-content-center py-4 my-4">

      <div class="col px-lg-3 mt-5">
        <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#naveen-profile">
            <img class="img-fluid" src=" https://nityo.com/assets/front/img/naveen-kumar.jpg" alt="..."></a>
          <!-- https://nityo.com https://nityo.com/assets/front/img/naveen-kumar.jpg -->
          <div class="card-body text-center p-2">
            <h4 class="fw-semibold mb-1">Naveen Kumar</h4>
            <h6 class="fw-medium mb-2">Founder and CEO</h6>
          </div>
        </div>
      </div>
      <div class="col px-lg-3 mt-5">
        <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#vivek-chadha">
            <img class="img-fluid" src=" https://nityo.com/assets/front/img/vivek-chadha.jpg" alt="..."></a>
          <div class="card-body text-center p-2">
            <h4 class="fw-semibold mb-1">Vivek Chadha</h4>
            <h6 class="fw-medium mb-1">Managing Director (APAC) &amp; Global CTO</h6>
          </div>
        </div>
      </div>
      <div class="col px-lg-3 mt-5">
        <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#david-lum">
            <img class="img-fluid" src=" https://nityo.com/assets/front/img/david-lum.jpg" alt="..."></a>
          <div class="card-body text-center p-2">
            <h4 class="fw-semibold mb-1">David Lum</h4>
            <h6 class="fw-medium mb-1">Director, Strategic Accounts</h6>
          </div>
        </div>
      </div>
      <div class="col px-lg-3 mt-5">
        <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#akash-tiwari">
            <img class="img-fluid" src=" https://nityo.com/assets/front/img/akash-tiwari.jpg" alt="..."></a>
          <div class="card-body text-center p-2">
            <h4 class="fw-semibold mb-1">Akash Tiwari</h4>
            <h6 class="fw-medium mb-1">Managing Director - America</h6>
          </div>
        </div>
      </div>
      <div class="col px-lg-3 mt-5">
        <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#subodh-hegde">
            <img class="img-fluid" src=" https://nityo.com/assets/front/img/subodh-hegde.jpg" alt="..."></a>
          <div class="card-body text-center p-2">
            <h4 class="fw-semibold mb-1">Subodh Hegde</h4>
            <h6 class="fw-medium mb-1">Managing Director - India</h6>
          </div>
        </div>
      </div>
      <div class="col px-lg-3 mt-5">
        <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#nirbhay-joshi">
            <img class="img-fluid" src=" https://nityo.com/assets/front/img/nirbhay-joshi.jpg" alt="..."></a>
          <div class="card-body text-center p-2">
            <h4 class="fw-semibold mb-1">Nirbhay Joshi</h4>
            <h6 class="fw-medium mb-1">Managing Director (EMEA)</h6>
          </div>
        </div>
      </div>
      <div class="col px-lg-3 mt-5">
        <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#sriram-rajan">
            <img class="img-fluid" src=" https://nityo.com/assets/front/img/sriram-rajan.jpg" alt="..."></a>
          <div class="card-body text-center p-2">
            <h4 class="fw-semibold mb-1">Sriram Rajan</h4>
            <h6 class="fw-medium mb-1">Co-Founder and Managing Partner, Cloud Services</h6>
          </div>
        </div>
      </div>
      <div class="col px-lg-3 mt-5">
        <div class="team-block shadow-md"><a href="#" data-bs-toggle="modal" data-bs-target="#prashanth-iyer">
            <img class="img-fluid" src=" https://nityo.com/assets/front/img/prashanth.jpg" alt="..."></a>
          <div class="card-body text-center p-2">
            <h4 class="fw-semibold mb-1">Prashanth Iyer</h4>
            <h6 class="fw-medium mb-1">Global Chief Marketing Officer</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


