
<app-navbar></app-navbar>

<!-- Main Header Container -->
<div class="header-container">
  <img src="/assets/aboutUsAll/bgpage/Awards.jpg" alt="Header Image" class="header-image" />

  <!-- Centered Content -->
  <div class="header-content">
    <h1 class="display-2 text-uppercase fw-semibold ">Awards</h1>
    <p>About-Us > Award</p>
  </div>
</div>


<div class="content-container">
<!-- Left Side: Split Image with overlay text -->
<div class="main-container">
    <div class="split-image-container">
        <div class="split left"></div>
        <div class="split right"></div>
        <div class="overlay-text">
            <h2>Awards</h2>
        </div>
    </div>
</div>

<!-- Right Side: Text Content -->
<div class="text-container">

<p class=" fs-5 text-black text-start lh-base" > At OpenFuture Technologies Private Limited, we understand that establishing clear
  and achievable goals is essential for driving disruptive technology and business
  innovation. These goals serve as our guiding star, helping us navigate challenges
  and focus our efforts on achieving meaningful results.</p>

<p class=" fs-5 text-black text-start lh-base" > We are dedicated to continuous evolution and innovation, always striving to reach
  new heights and surpass our previous accomplishments. Our ambition is to be the
  preferred solutions partner for our clients while also being recognized as the
  employer of choice in the industry</p>

<p class=" fs-5 text-black text-start lh-base" > OpenFuture has consistently garnered recognition as a leading provider of
  innovative IT solutions, demonstrating our commitment to excellence and customer
  satisfaction. We take pride in our ability to deliver transformative solutions that
  empower our clients to thrive in a competitive landscape. Our focus on building
  strong partnerships, fostering a culture of creativity, and maintaining high standards
  of service excellence positions us as a trusted partner in our clients' journeys toward
  success.</p>

</div>
</div>



<div class="container  mt-4 mb-lg-4">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1 class="fw-semibold display-4 mb-5">Our Awards and Recognition</h1>
    </div>
    <div class="col-lg-3 col-md-4 col-6 mb-lg-5 mb-4">
      <div class="awards-block shadow-md">
        <img class="w-100" src="/assets/aboutUsAll/Awards & Recognition/1USA.jpg" alt="" />
        <p class="content fs-6">
          INC 500 awards for the fastest growing company in the USA
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 mb-lg-5 mb-4">
      <div class="awards-block shadow-md">
        <img class="w-100" src="/assets/aboutUsAll/Awards & Recognition/BOI Status in Thailand.jpg" alt="" />
        <p class="content fs-6">BOI Status in Thailand</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 mb-lg-5 mb-4">
      <div class="awards-block shadow-md">
        <img class="w-100" src="/assets/aboutUsAll/Awards & Recognition/Second best consulting company in the USA.jpg" alt="" />

        <p class="content fs-6">
          Second best consulting company in the USA
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 mb-lg-5 mb-4">
      <div class="awards-block shadow-md">
        <img class="w-100" src="/assets/aboutUsAll/Awards & Recognition/Third best vendor by enterprise organizations.jpg" alt="" />

        <p class="content fs-6">
          Third best vendor by enterprise organizations
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 mb-lg-5 mb-4">
      <div class="awards-block shadow-md">
        <img class="w-100" src="/assets/aboutUsAll/Awards & Recognition/Top-rated service vendor in consulting.jpg" alt="" />

        <p class="content fs-6">
          Top-rated service vendor in consulting and integration services,
          information technology services and outsourced development
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 mb-lg-5 mb-4">
      <div class="awards-block shadow-md">
        <img class="w-100" src="/assets/aboutUsAll/Awards & Recognition/Pledge Certificate for Social Corporate Responsibility.jpg" alt="" />
        <p class="content fs-6">
          Pledge Certificate for Social Corporate Responsibility
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 mb-lg-5 mb-4">
      <div class="awards-block shadow-md">
        <img class="w-100" src="/assets/aboutUsAll/Awards & Recognition/Software Development Group in the National Capital Region.jpg" alt="" />

        <p class="content fs-6">
          Software Development Group in the National Capital Region, India
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-6 mb-lg-5 mb-4">
      <div class="awards-block shadow-md">
        <img class="w-100" src="/assets/aboutUsAll/Awards & Recognition/Outstanding performance in the ongoing commitment to IBM's growth in 2022.jpg" alt="" />
        <p class="content fs-6">
          Outstanding performance in the ongoing commitment to IBM's growth
          in 2022
        </p>
      </div>
    </div>
  </div>

</div>
